!!!
%html
%head
  %title Forum
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true'
  %link{ href:"https://fonts.googleapis.com/css?family=Indie+Flower" ,rel: "stylesheet",type: "text/css"}
  %link{ href:"https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" ,rel: "stylesheet"}
  = csrf_meta_tags
  = javascript_include_tag 'application', 'data-turbolinks-track': 'true'

  %body
    %header.main_header.clearfix
      .wrapper
        #logo
          %p= link_to "Forum" , root_path
        #button
          - if user_signed_in?
            = link_to "New Post" , new_post_path
          -else
            =link_to "Sign Up",new_user_registration_path
            =link_to "Sign In",new_user_session_path

    .wrapper
      %p.notice= notice
      %p.alert= alert

    .wrapper
      = yield