!!!
%html
%head
  %title Forum
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true'
  %link{ href:"https://fonts.googleapis.com/css?family=Indie+Flower" ,rel: "stylesheet",type: "text/css"}
  %link{ href:"https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" ,rel: "stylesheet"}
  = csrf_meta_tags
  = javascript_include_tag 'application', 'data-turbolinks-track': 'true'

  %body
    %header.main_header.clearfix
      .wrapper
        #logo
          %p Forum
        #button
          = link_to "New Post" , new_post_path

    .wrapper
      %p.notice= notice
      %p.alert= alert

    .wrapper
      = yield